/*
 * This file is just temporary for misc BS
 *
 * We'll eventually (sooner than later) replace it
 * and actually compile bootstrap with Sass during
 * the development and build processes.
*/

:root {
  --pink: #e91366;
}

.navbar-dark {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--pink);
}

.jumbotron {
  margin-bottom: 0;
}
