---
title: Advertisement
layout: /layouts/default.pug
tags:
  - marketing
---
section.my-5
  .container
    h1.bigtext.display-4
      div Advertisement
    p
      img.img-fluid(src="/assets/img/shark-teeth-horizontal-rule.png" alt="Shark teeth horizontal rule")
    h1.bigtext.display-4.alert.alert-dark.text-light
      div Coming soon

section.my-5
  .container
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/') Homepage
        li.breadcrumb-item
          a(href='/marketing/') Marketing
        li.breadcrumb-item.active(aria-current='page') Advertisement

