---
title: Billboard
layout: /layouts/default.pug
tags:
  - marketing

---
section.my-5
  .container
    h1.bigtext.display-4
      div Billboard
    p
      img.img-fluid(src="/assets/img/shark-teeth-horizontal-rule.png" alt="Shark teeth horizontal rule")
