---
title: Billboard
layout: /layouts/default.pug
tags:
  - marketing
hero:
  title: How to make a great billboard
  lead: A guide to designing a highly-effective billboard graphics
---
section.my-5
  .container
    h2.display-4 Billboards: advertising gold
    p.lead.my-4 Ah, the billboard. One of the iconic advertising weapons around. Long-coveted by businesses way of quick visual communication. The billboard is a killer way to drive new traffic, create buzz and sell your stuff.
    p Effective billboards are designed with intent -- hyper-absorbtion of your message with a looong aftertaste of stewing in thought -- graphics made with pinpoint-accuracy a priority in the message.
    p If you're considering a billboard in your advertising budget, read on and I'll give you the juice on what constitutes a stellar, resoundingly-successful billboard. Take it from the designer whose made thousands of 'em.
    hr.my-5

section.my-5
  .container
    h2.display-4 Why use billboards?
    h3 Impossible to un-see
    p Billboards are everywhere. You see probably a drunk baker's dozen just on your way to work. Billboard proliferation exists because it works, and works well. Over the years, I've created artwork for literally hundreds of billboards, many of which I still see on a daily basis. One of my customers has had the same tired billboard design up for nearly a decade -- and doesn't dare change it because it STILL pulls the sales.
    p Maybe its because the billboard exists -- you approach its existence rather than say a commercial which imposes itself upon your existence -- that gives it a free pass to entering your psyche. No matter who you are, drive by a billboard and you literally have no choice not to see it and consume it. Whether you agree with the message or not, you've looked at the billboard and reacted to it in some fashion.
    h3 Billboards... high-potency advertising
    p Billboards near-universally seen abilities make them a coveted resource for advertisers. The Out-Of-Home (OOH) medium of advertising has been on a constant upswing over the years, and billboards are one of the grandaddys of them all.

    .row.my-4
      .col-md-4
        h3.display New customers
        p A great billboard intruiges and entices new customers. Business owners always telling me "people coming in that didn't even know we was here." 
      .col-md-4
        h3.display Exit Now, Enter Here.
        p b.
      .col-md-4
        h3.display c
        p c. 
    hr.my-5

section.my-5
  .container
    h2.display-4 Types of billboards
    .row.my-4
      .col-md-4
        h3.display Traditional billboards
        p Ah the standard run-of-the-mill billboard. These suckers are <span class="text-uppercase">everywhere</span> -- you've probably seen a baker's dozen just on your way to work. Well -- they're everywhere for a reason -- THEY DO THE JOB.
      .col-md-4
        h3.display Digital billboards
        p All the benefits of a traditional billboard, with the flexibility of internet advertising. Digital billboards are basically huge-ass TV screens that rotate a few different advertisements -- in the range of 10 seconds per advertiser. Digital billboards offer huge benefits for advertisers. Easy-to-update, digital billboards offer the ability for fast updates for frequent-changing messages or specials.
        p LOW production costs -- no reprinting huge pieces of vinyl, the digital billboard acts like a giant internet ad.
      .col-md-4
        h3.display Mobile billboards
        p Surely you've seen these -- pacing your local 'fast food alley' or the Las Vegas Strip, mobile billoards give you...
    img.img-fluid(src="/assets/img/billboard-size-shape-configurations.png" alt="Image Title")
    hr.my-5

section.my-5
  .container
    h2.display-4 Great billboards by design
    p Proper design is critical to successful a successful billboard campaign. Costs of billboard advertising ain't cheap, skimping on some crap graphics will not bring near the benefits of a properly-designed visual piece. Succintness, brevity and a laser-focus on the billboards specifics (location, which side of the road, etc) all play crucial roles in the impact to your bottom line. Don't waste your money with crap design.

    hr.my-5

section.my-5
  .container
    h2.display-4 asdf
    p p.
img.img-fluid(src="/assets/img/flock-to-billboard-advertising.jpg" alt="Image Title")