---
title: Billboard Design
layout: /layouts/default.pug
tags:
  - marketing
hero:
  title: The Billboard Design hero.title data
  lead: See page's frontmatter `hero` section of data
---
section.my-5
  .container
    .text-center
      h2.display-4 Some Heading here
      hr.my-5
      .row.my-4
        .col-md-6
          p col-md-6
        .col-md-6
          p col-md-6