---
title: Brand identity
layout: /layouts/default.pug
tags:
  - branding

---
section.my-0
  .container
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/') Homepage
        li.breadcrumb-item
          a(href='/branding/') Branding
        li.breadcrumb-item.active(aria-current='page') Brand identity

section.my-5
  .container
    h1.bigtext.display-4
      div Brand identity
    p
      img.img-fluid(src="/assets/img/shark-teeth-horizontal-rule.png" alt="Shark teeth horizontal rule")
    h1.bigtext.display-4.alert.alert-danger.text-light
      div Under construction

section.my-5
  .container
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              | Brand identity home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Examples
          li.nav-item
            a.nav-link(href='#') Brand identity tips
          li.nav-item
          button.btn.btn-danger(type='button') Order a brand identity package »
          li.nav-item
            a.nav-link(href='#') Tips &amp; tricks


section.my-5
  .container
    hr.my-3
    h2 Brand identity home
    hr.my-3
    h2 Brand identity examples
    hr.my-3
    h2 Brand identity tips &amp; tricks