---
title: Branding
layout: /layouts/default.pug
---
include /_mixins

section.my-5
  .container
    h1.bigtext.display-3
      div Branding
    p.lead Quality branding graphics are essential for successful business. Lousy visual communications do little to maximize your profits and build customer loyalty. Groovy offers savvy businesses branding graphics hell bent on growing absolute great brands.
    img.img-fluid(src="/assets/img/shark-teeth-horizontal-rule.png" alt="Branding")
section.my-5
  .container.border-top.py-3
    h2.text-uppercase Branding essentials 
      small.text-muted No these, No brand
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/brand-identity/') Brand identity
        p If you have no brand, or your existing brand sucks, I don't need to tell you how crucial your brand's identity is. But I will, because thats my job. Welcome to your brand-new identity.
        p
          a.btn.btn-outline-primary(href='/brand-identity/') Brand identity design packages »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/logo/') Logo
        p The bleeding heart of your brand. Bad logos make it pretty tough to communicate who you are or what you offer. Your logo woes end here.
        p
          a.btn.btn-outline-primary(href='/logo/') Logo design info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/business-card/') Business card
        p All those sayings about first impressions are true. So don't blow it with lousy business cards. Great business cards give you confidence and swagger. Before ordering business cards, I'll go over all you need to know to ensure your business cards are up to snuff.
        p
          a.btn.btn-outline-primary(href='/business-card/') Business card info »

section.my-5
  .container.border-top.py-3
    h2.text-uppercase Brand collatteral 
      small.text-muted vital components of your branding
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/vehicle-wrap/') Vehicle wrap
        p Killer vehicle wraps, the rockstar of your brands visual identity. Great vehicle wraps command respect, attention, and tell prospects immediately that you are <em>in business</em>. Nothing gets people jazzed quite like a great car wrap.
        p
          a.btn.btn-outline-primary(href='/vehicle-wrap/') The world of vehicle wraps »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/hang-tag/') Hang tag
        p If your product isn't bearing a great hang tag, the value can be depreciated just by thought of it. Add product value with a great hang tag.
        p
          a.btn.btn-outline-primary(href='/hang-tag/') Hang tag info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/name-badge/') Name badge
        p When employees are the face of your business, beautiful, brand-matched name badges are the hypothetical icing on the proverbial cake. You're employees will love the taste of their groovy-designed name badge.
        p
          a.btn.btn-outline-primary(href='/name-badge/') Get great name badges »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/document/') Document
        p Just cause google drive is free, doesn't mean you should trust your professional documents to it. Striking documents from the document maker.
        p
          a.btn.btn-outline-primary(href='/document/') Document design info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/product-package/') Product package
        p Today is the perfect day to hop on the unboxing bandwagon. Consumers demand more from the cardboard which packages your product these days.
        p
          a.btn.btn-outline-primary(href='/product-package/') Product package design »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/vector-signature/') Vector signature
        p Digitized, vector-based signatures are a smooth touch for visuals that need to strike a personalized tone. Vector signatures are affordable, highly-useful and very effective.
        p
          a.btn.btn-outline-primary(href='/vector-signature/') Vector signatures »

section.my-5
  .container.border-top.pt-3
    h2.text-uppercase Stationery branding 
      small.text-muted worthy of your business
    .row.my-4
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/letterhead/') Letterhead
        p Perhaps one of the more important components of your brand's stationery, a great letterhead can be used for years. Make bold statements with a great letterhead.
        p
          a.btn.btn-outline-primary(href='/letterhead/') Get a great letterhead »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/envelope/') Envelope
        p With the proliferation of real junk mail, often the visual deal-breaker is the envelope. Compelling envelopes act as an extension of your brand's identity. Don't blow it with crappy envelopes.
        p
          a.btn.btn-outline-primary(href='/envelope/') Envelope design »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/folder/') Folder
        p Professional presentation folders make impressions and increase the value of the contents inside. Important information demands quality, striking visual presentation.
        p
          a.btn.btn-outline-primary(href='/folder/') Folder design info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/bookmark/') Bookmark
        p The ill-forgotten bookmark. Designing a great bookmark and you create a valuable branded item that people surprisingly keep around. Professional bookmark design treats your customers right.
        p
          a.btn.btn-outline-primary(href='/bookmark/') Custom bookmark design »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/label/') Label
        p Professional labels add value to whatever it is they're adhered to. If you're going to print them, might as well do it right.
        p
          a.btn.btn-outline-primary(href='/label/') Label design starts here »

    img.img-fluid(src="/assets/img/groovyxyz-pelican-shit-on-printer.png" alt="Pelicans keep shitting on the printer")
