---
title: Branding
layout: /layouts/default.pug
hero:
  title: Branding
  lead: The lead for branding landing
---
include /_mixins

section
  .container
    // see /_includes/_mixins for `list_offerings`
    +list_offerings('branding')

section.my-5
  .container
    hr
    .row.my-4
      .col-md-4
        h2 Brand identity
        code #image
      .col-md-4
        h2 Logo
        code #image
      .col-md-4
        h2 Business card
        code #image
    hr
    .row.my-4
      .col-md-4
        h2 Postcard
        code #image
      .col-md-4
        h2 Rack card
        code #image
      .col-md-4
        h2 Vehicle wrap
        code #image
    hr
    .row.my-4
      .col-md-4
        h2 Letterhead
        code #image
      .col-md-4
        h2 Envelope
        code #image
      .col-md-4
        h2 Folder
        code #image
    hr
    .row.my-4
      .col-md-4
        h2 Sign
        code #image
      .col-md-4
        h2 Digitized Signature
        code #image
      .col-md-4
        h2 Hang tag
        code #image
    hr
