---
title: Branding
layout: /layouts/default.pug
---
include /_mixins

section.my-5
  .container
    h1.bigtext.display-3
      div Branding
    p.lead Proper branding graphics are essential for any successful business. Without a solid brand, your visual communications do little to maximize your profits and customer loyalty.
    p.lead Good news though, groovy offers the savvy business owner (you) all you need for ensuring your branding stays on track and serves you right short and long term.
    img.img-fluid(src="/assets/img/shark-teeth-horizontal-rule.png" alt="Branding")
section.my-5
  .container.border-top.py-3
    h2.text-uppercase Branding essentials 
      small.text-muted No these, No brand
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/brand-identity/') Brand identity
        p If you have no brand, or your existing brand sucks, I don't need to tell you how crucial your branding is. But I will, because thats my job. Behold the secrets of (re)establishing branding dominance.
        p
          a.btn.btn-outline-primary(href='/brand-identity/') Brand identity info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/logo/') Logo
        p The bleeding heart of every brand. Without a logo, it can be pretty tough to communicate who you are or what you offer. Here's the gospel on your logo.
        p
          a.btn.btn-outline-primary(href='/logo/') More about logos »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/business-card/') Business card
        p All those sayings about first impressions are true. So don't blow it with lousy business cards. Great business cards give you confidence and swagger. Before ordering business cards, I'll go over all you need to know to ensure your business cards are up to snuff.
        p
          a.btn.btn-outline-primary(href='/business-card') Business card info »

section.my-5
  .container.border-top.py-3
    h2.text-uppercase Brand collatteral 
      small.text-muted vital components of your branding
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/vehicle-wrap/') Vehicle wrap
        p Killer vehicle wraps, the rockstar of your brands visual identity. Great vehicle wraps command respect, attention, and tell prospects immediately that you are <em>in business</em>. Nothing gets me jazzed more than seeing a well-designed wrap. Imagine how I'd feel about yours.
        p
          a.btn.btn-outline-primary(href='/vehicle-wrap/') The world of vehicle wraps »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/hang-tag/') Hang tag
        p If your product isn't bearing a great hang tag, the value can be depreciated just by thought of it..
        p
          a.btn.btn-outline-primary(href='/hang-tag/') Hang tag info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/name-badge/') Name badge
        p Awesome envelopes are a joy to open.
        p <button type="button" class="btn btn-outline-primary">More info »</button>
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/document/') Document
        p Just cause google drive is free, doesn't mean you should trust your professional documents to it. Striking documents from the document maker.
        p <button type="button" class="btn btn-outline-primary">More info »</button>
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/product-package/') Product package
        p Today is the perfect day to hop on the unboxing bandwagon. Consumers demand more from the cardboard which packages your product these days.
        p <button type="button" class="btn btn-outline-primary">More info »</button>
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/vector-signature/') Vector signature
        p Professional presentation folders make impressions.
        p <button type="button" class="btn btn-outline-primary">More info »</button>

section.my-5
  .container.border-top.pt-3
    h2.text-uppercase Stationery branding 
      small.text-muted worthy of your business
    .row.my-4
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/letterhead/') Letterhead
        p Sleek letterheads speak volumes.
        p <button type="button" class="btn btn-outline-primary">More info »</button>
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/envelope/') Envelope
        p Awesome envelopes are a joy to open.
        p <button type="button" class="btn btn-outline-primary">More info »</button>
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/folder/') Folder
        p Professional presentation folders make impressions.
        p <button type="button" class="btn btn-outline-primary">More info »</button>
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/bookmark/') Bookmark
        p Sleek letterheads speak volumes.
        p <button type="button" class="btn btn-outline-primary">More info »</button>
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/label/') Label
        p Sleek letterheads speak volumes.
        p <button type="button" class="btn btn-outline-primary">More info »</button>

    img.img-fluid(src="/assets/img/groovyxyz-pelican-shit-on-printer.png" alt="Pelicans keep shitting on the printer")
