---
title: Business card
subtitle: The definitive guide for creating a perfect business card
tags:
  - branding

---
section.my-5
  .container
    h1.bigtext.display-4
      div Business card
    img.img-fluid(src="/assets/img/shark-teeth-horizontal-rule.png" alt="Business card")

section.my-0
  .container
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Business card home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Examples</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Templates</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-danger">Price & order »</button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Where to print</a>
          </li>
        </ul>
      </div>
    </nav>

section.my-5
  .container
    h2.bigtext.display-4
      div h2 business card h2
    .row.my-4.border-bottom
      .col-md-6.col-lg-7.py-2
        p.lead Introductory paragraph gonna goes right here. Its totally why you want to read more.
        p
          a.btn.btn-primary.btn-lg(href='/business-card-design/') Hire a design pro »
      .col-md-6.col-lg-5.py-2
        p image col5
    h2 h2 Start here business cards 
    .row.my-4
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/letterhead/') How to get perfect business cards
        p A groovy how-to guide on how you can craft amazing business cards. Read on and send your confidence through the roof.
        p Read time: approx 20min
        p <button type="button" class="btn btn-outline-primary">Business card guide »</button>
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/envelope/') Business card examples
        p Awesome envelopes are a joy to open.
        p <button type="button" class="btn btn-outline-primary">More info »</button>
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/folder/') Pre-made business card templates
        p Professional presentation folders make impressions.
        p <button type="button" class="btn btn-outline-primary">More info »</button>

section.my-5
  .container
    h2.bigtext.display-4
      div Pro-designed business cards
    .row.my-4
      .col-md-6.col-lg-7.py-2
        h3 Why have a pro do it?
        p.lead Introductory paragraph gonna goes right here. Its totally why you want to read more.
        p
          a.btn.btn-primary.btn-lg(href='/business-card-design/') Pro business card design »
      .col-md-6.col-lg-5.py-2
        p image col5

  .container.border-top
    .row.my-4
      .col-md-6.col-lg-3
        h4 Confidence in a job done right
        p Trust me, I've recreated so many business cards, I know all your pains.
      .col-md-6.col-lg-3.py-2
        h4 Your business cards, your way
        p You want to be particular? I'll tweak it till you're happy. I'm here to help your wishes come to business card fruition.
      .col-md-6.col-lg-3.py-2
        h4 Perfect printer-ready files
        p Faith in 'the process' restored, I'll make sure your files are exactly what the printer needs.
      .col-md-6.col-lg-3.py-2
        h4 Unlimited design possibilities
        p We can design anything at the limits of only what can be printed.
    img.img-fluid(src="/assets/img/shark-teeth-horizontal-rule2.png" alt="Business card")

    p.my-5
      img.img-fluid(src="/assets/img/groovy.xyz-company-business-card-design.png" alt="groovy's current business card design")
