---
title: Make Your Business Cards Great!
subtitle: The definitive guide for creating a perfect business card
tags:
  - branding
hero:
  title: Make Your Business Cards Great!
  lead: The definitive guide for a perfect business card
---
section.my-5
  .container
    .row.my-4
      .col-md-4.order-12
        code #image
      .col-md-8.order-1
        p.lead Business cards are a must-have for any business owner. When someone asks you for a business card, the last thing you need is spouting out a bunch of lies excuses… Ohh I’m all out, I don’t have them with me, still waiting for the new ones.
        p.lead Business cards are indispensable extensions of your brand, vital for sharing info with your prospective customers. No business card and you look like a chump.
hr
section.my-5
  .container
    h2.display-4 Why you need a great business card
    p There’s all sorts of old sayings about first impressions, and most are true. You want to impress your potential customers, and business cards are an essential tool for creating a positive impression that sets you apart. Lousy cards are off-putting and leave a sour taste in someone’s mind. Avoid this like the plague. The more attractive your cards are, the higher the likelihood that people remember you in a good light.

    code #image
section.my-5
  .container
    h2.display-4 What to include
    p It seems simple, but deciding what to include on your business card warrants some consideration. Business cards are small by nature, so space is a limiting factor. Squeezing 800 links/emails/phone numbers comes at the expense of readability. The more you include, the less space you have, the smaller everything becomes. Including only critical information allows everything to be bigger, bolder, easier to read and more effective.
    code #image
    hr
    h3 Name
    p Decide whether your personal name needs to be on the card. Some businesses can get away with simply the business name, where any employee can use the card.
    h3 Email
    p Consider whether or not your email reads ok in caps or uppercase. Emails tend to read a little easier in either lowercase or all uppercase. Complex or clunky looking email addresses, consider using Capital Letters where necessary in order to make things visually appealing. RingoBarb@email.com may be easier for some to recognize your name. ringobarb@gmail.com could be Rin Gob Arb, Ring Obarb, whatever.
    h3 Address
    p I’ve seen a lot of cases where predesigned templates require an address field. This is great for the local pawn shop, but an estore may not warrant including your physical house address. Consider whether or not your address is needed.
    h3 Phone / fax / extension
    p Area codes
    h3 Social media
    p Social media links seem great to include, but most of the time this info is available elsewhere, on your website, etc. Including a large list of big URLs takes up space, and can be tricky for people to type in word for word without mistakes, opening the door to landing on a competitors’ profile. If its critical, include it. If not, save the space.
    p Keep in mind though, not all prospects will have social media accounts, and visiting the social media site will prompt them for signups and logins -- something that distracts and deters people from pursuing your info.
    h3 QR codes
    p Another option is using QR codes that smartphones can scan and automatically load pages. These can be great alternatives to long-winded web addresses.
    p Fair warning, not everyone has--nor knows how to operate QR code scanners. These apps are seldom and often buried in smartphone bloatware menus. If your audience is keen on them--great. If not, consider skipping the QR code and reserving that space for other graphics & text.
    h3 Logo
    p For businesses with a logo, it's generally a good idea to include. Consider sizing though -- does your logo really need to be the largest thing on the card? Is your personal info more important? Determining the priority of your logo size in relation to other components is something to think about. If your logo needs to be large, consider a small one up front, and using the back side for a large, full-size version.
    h3 Branding elements
    p You want your business card’s design to jive with your brand. Using shared and common components of your brand helps solidify the connections to your brand. The business card becomes a limb of your brand’s identity. You gain all the benefits of brand recognition. The business card gains a more respectable, formidible auora.
    hr

section.my-5
  .container
    h2.display-4 Can you write on it?
    p Business cards can be printed on a vast number of different coatings and papers. More often than people realize is the need to physically write something on your card, whether it be alternative information, maybe a personal cell phone, whatever. That waterproof glossy coating is slick, but if you find yourself writing on your card, coatings can make this very difficult. Roller pens will smear and smudge, pencils probably won’t write at all. Stick with coatings that people can easily write on if need be.
    code #image

section.my-5
  .container
    h2.display-4 Double-sided business cards
    p Cost is usually a factor when considering a double-sided business card. Most printers offer the ability to print on both sides of the card. If you’ve got lots of info to include, opt for the back side.
    p One thing about double-sided cards, is that you begin to not have a front or back. When planning your business card, remember that there will be no ‘true front’ once the prospect has your card. However they stick it in their wallet/purse/cabinet/glovebox there’s no telling how its coming back out. Keep this in mind when designing your card.
    code #image

section.my-5
  .container
    h2.display-4 Embellishments
    p asdf

section.my-5
  .container
    hr
    .row.my-4
      .col-md-4
        h3 Embossing &amp; bubble letters
        code #image
      .col-md-4
        h3 Foil overlays
        code #image
      .col-md-4
        h3 Rounded corners &amp; die cuts
        code #image

    .row.my-4
      .col-md-4
        h3 Metallic finishes
        code #image
      .col-md-4
        h3 Translucent plastics
        code #image
      .col-md-4
        h3 CD business cards
        code #image
    hr

section.my-5
  .container
    h2.display-4 Business card sizes
    p The standard business card size is 3.5 inches X 2 inches. Anything over or undersized could pose problems for business card holders or some stands. There is no law against using whatever size you want though. I certainly love designing off-sizes and custom stuff, but that’s just me. Don’t be afraid to change things up, just consider the folks you’re giving them to.

section.my-5
  .container
    h2.display-4 DIY vs templates vs hiring a designer
    h3 Do-it-yourself
    p Nowadays, most word processors (gdocs, ms office, etc) will let you design and print your own business cards. Avery and other paper manufacturers offer pre-formatted templates you can use to create your own business cards and easily print them on your inkjet or laser printer.
    p Some people get picky when it comes to low-cost printing, and the look and feel often don’t give the same impression as having them professionally printed and trimmed. Anything other than lightweight, one or two color printing will start using up lots of ink.
    h3 Premade templates
    p A step-up from diy printing, premade templates offer an easy way to create your business cards online and have them printed affordably. Plug in your name and details, preview and save and you’ll have your cards in a week or so.
    h3 Custom-designed business cards
    p For the ultimate in flexibility and professionalism, hiring a designer to create your cards gives you the most flexibility and tends to offer the best performance. A skilled designer builds your business cards exactly to your spec -- perfect for when you need that extra POP and pizazz and matching your branding.

section.my-5
  .container
    h2.display-4 Business card variants
    p There’s no hard fast rule that says you can only have one business card. Utilizing more than one variant of a business card affords you flexibility in using different cards for different applications. Sometimes, just a cheap one-color, one-sided card is more than adequate for transferring information. The ultra-low cost of printing simple cards lets you hand out large quantities. Other times, you want a beautiful, super-impactful card that maybe you save for your office desk or higher-end clientele.
    p Because business cards are so readily available and affordable, don’t be afraid to have more than one.


section.my-5
  .container
    h2.display-4 Paper thickness
    p Many different paper stocks and thicknesses of business cards exist. Generally, people think that thicker cards mean better cards, but its not always the case. Thick cards physically take up more space. If you’re actively passing out lots of cards, some card holders can only hold so many. Big ol fat cards take up more room, meaning you carry less of them.

section.my-5
  .container
    h2.display-4 Coatings &amp; finishes
    p Business card printers offer a variety of different finishes and coatings. From glossy finishes, smooth and water-resistant coatings.

section.my-5
  .container
    h2.display-4 Business cards for employees
    p Many businesses have more than one employee or representative, each requiring they’re own personalized card. Using a master business card design lets you easily print off variants that include different names.
    p When designing your master business card template, keep in mind some employees names may be longer or shorter, and may need to account for these size variations. If your name is Jo Bob, make sure to design your templates where they can accommodate a longer name without much modification. Anquanstine “the Schmitty” Saint Fontleroy Jr the III, Esquire may not fit in the same place without being microscopic. Same goes for job titles, emails, etc.

section.my-5
  .container
    h2.display-4 Portrait vs landscape
    p The horizontal orientation is often the most common format, as it allows for text to be larger since there’s more room available. Vertical or portrait formats often limit you with size, but each application is different. If you’re customers keep a business card book, consider difficulties when using vertical format.
    p [example size comparison images]

section.my-5
  .container
    h2.display-4 Business card cost considerations
    p In general, business cards are one of the cheaper items to print, as the printing technology for printing is readily available.

section.my-5
  .container
    h2.display-4 Business card design principles
    p The 4 c’s of what I consider proper business card design. From a graphic designers perspective, I’m a snob when it comes to quality graphics.  Knowing what files your printer needs in advance is key to producing commercial-grade artwork. Nothing will turn your prospects away quicker than a fuzzy words and a blurry logo.
    h3 Color
    p Cost, convenience and other shit considering, you may need to stick to a 1/2/3 color business card, or print in full color. There are two different camps and two different stories here, so it's really what best suits your budget and needs as I mentioned above.
    p Whatever color you do decide upon, you’ll want to make sure they look damn good. 
    h3 Clarity
    p Fuzzy artwork has no place in your commercial artwork. You wouldn’t show up to a board meeting in your pajamas and a toe sticking out your socks. Do not hand over the business card equivalent.
    p Make sure your files are of the highest resolution or proper format. If you’re not able to get it looking good, or you just don’t have the right file, either recreate it in the proper size or don’t include it at all. Much better is your business name in text than in something that was hastily assembled. It screams to your prospect in all the wrong ways.
    h3 Consistency
    p For optimal business card performance, make darn sure it matches your businesses existing branding. A business card is a physical extension, a piece of property owned by your brand. This is not the place for a different color scheme of your brands identity. A green UPS business card would look shittier than the brown one, and that's hard to do!
    p Don’t be a dope, be consistent with your business cards branding. One of the biggest issues I see is people using a premade template that sort of matches their brands color. Instead of calling up the designer or using a web app to get your company's colors, they falsely base it off what it appears on the display of whatever device they happen to be using. Making sure your colors match is worth the extra time and effort.
    h3 Can you dig it
    p So, this one is biased as hell. As a designer of 30+ years, you can imagine how many business cards I’ve designed. I do enough on a consistent basis that its easy to see the trends and pick up on what people end up with.
    p When I’m all said and done designing a business card, I step back, hold the card and truly ask myself, is someone gonna dig this business card? Will they say damn, nice business card? Or will they just say thank you, and I see it in the garbage can the next day.
    p If what you’re looking at just doesn’t have that groovy factor. If it embarrases you rather than builds your swagger, something is up.
    p [quizo plain vs pizazz images]

section.my-5
  .container
    h2.display-4 Choosing a business card printer
    p Business cards are a notoriously affordable option, and the number of printers that can print them bode well for you, the customer. Pricing is very competitive. Some printers specialize in full color, while others offer best prices and quality on raised bubble letters or particular card stocks.
    p [List of referral printers]

section.my-5
  .container
    h2.display-4 Previewing your business cards
    p Keep in mind that business cards have relatively little real estate for your info. Things can seem way bigger on a computer screen when compared to holding the physical card in your hand. I highly recommend printing out your card -- even if the colors are a bit washed out compared to the printers, you’ll still get a much better feel for how well or how shitty they read. Cut it out with scissors and share it with friends, coworkers or family. Have them give you an honest opinion, and don’t take criticism hard. Remember they aren’t the gospel however, and don’t get butthurt.
    p [photoshop screen simulate] [printed holding in hand compare]

section.my-5
  .container
    h2.display-4 Closing thoughts
    p Sticking to these principles will help ensure a successful business card. There are no hard and fast rules, and each person's application may require making concessions on some design elements. Sometimes, business cards must meet certain requirements, for example if you need your cards to be compliant with OCR text scanners, then that fall leaf mountain scene background may not be suitable. Maybe you’ll have to keep text on a white background, on the back.
    p No matter how you print ‘em, give your business cards some attention and planning. Stick to the basics and you’ll be in great shape.
hr
section.my-5
  .container
    h3 a groovy plug
    p.lead If you’d like me to take a look at your business cards, get in touch. Whether you need advice or a complete design, I’ve done many of these things, and won’t steer you wrong.
    h2.display-5 #[a(href="http://jade-lang.com/") Order pro business card design »]
    hr
    h2.display-5 #[a(href="http://jade-lang.com/") Business card design examples »]