---
title: Business card examples
subtitle: Inspirational business card designs
tags:
hero:
  title: Business card examples
  lead: Inspirational business card designs
---

section
  .container.text-center
    p
      img.img-fluid(src="/assets/img/political-campaign-business-card-design.png" alt="Double-sided, full-color business card design")
    p
      img.img-fluid(src="/assets/img/managing-broker-business-card-graphic-design.png" alt="Double-sided, full-color business card design")
    p
      img.img-fluid(src="/assets/img/real-estate-management-business-card-design-full-color.png" alt="Real estate management business card design")
    p
      img.img-fluid(src="/assets/img/acting-lessons-business-card-design-front-back.png" alt="Double-sided, full-color business card design")


    .row.my-4
      .col-md-6
        img.img-fluid(src="/assets/img/business-card-design-promotional-code.png" alt="Double-sided, full-color business card design")
      .col-md-6
        img.img-fluid(src="/assets/img/pet-care-appointment-double-sided-business-card-graphic-design.png" alt="Multiple versions of a single business card layout")
 
    p
      img.img-fluid(src="/assets/img/landlord-business-card-design.jpg" alt="Double-sided, full-color business card design")

    .row.my-4
      .col-md-6
      .col-md-6
        img.img-fluid(src="/assets/img/pet-care-appointment-double-sided-business-card-graphic-design.png" alt="Multiple versions of a single business card layout")

    p
      img.img-fluid(src="/assets/img/law-firm-business-card-design.png" alt="Double-sided, full-color business card design")
    p
      img.img-fluid(src="/assets/img/sex-strategist-business-card-design.jpg" alt="Double-sided, full-color business card design")
    p
      img.img-fluid(src="/assets/img/business-card-concept-design-sketches.jpg" alt="Real estate management business card design")

    .row.my-4
      .col-md-6
        img.img-fluid(src="/assets/img/personalized-real-estate-broker-business-card-design.png" alt="Multiple versions of a single business card layout")
      .col-md-6
        img.img-fluid(src="/assets/img/business-card-variations-multiple-employees.png" alt="Double-sided, full-color business card design")

    .row.my-4
      .col-md-6
        img.img-fluid(src="/assets/img/law-firm-business-card-design.png" alt="Double-sided, full-color business card design")
      .col-md-6
        img.img-fluid(src="/assets/img/musician-full-color-business-card-graphic-design.png" alt="Multiple versions of a single business card layout")

    img.img-fluid(src="/assets/img/vintage-clothing-retailer-business-card-design.png" alt="Double-sided, full-color business card design")

hr
section.my-5
  .container
    h3 a groovy plug
    p.lead If you’d like me to take a look at your business cards, get in touch. Whether you need advice or a complete design, I’ve done many of these things, and won’t steer you wrong.
    p #[a(href="http://jade-lang.com/" class="btn btn-success btn-block") Click here for my business card graphic design services »]
    img.img-fluid(src="/assets/img/groovy.xyz-company-business-card-design.png" alt="groovy's current business card design")

  