---
title: Business card
subtitle: The definitive guide for creating a perfect business card
tags:
  - branding

---
section.my-5
  .container
    h1.bigtext.display-4
      div Business card
    p.lead asdf.
    img.img-fluid(src="/assets/img/shark-teeth-horizontal-rule.png" alt="Branding")

section.my-0
  .container
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Business card<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Examples</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pre-designed templates</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-danger">Order business card design »</button>
          </li>
        </ul>
      </div>
    </nav>

section.my-5
  .container
    h2 Business card home
    h2 Business card examples
    h2 Pre-designed templates
    h2 Printing business cards
    h2 Price &amp; order
    h2 Business card guide