---
title: Folder
layout: /layouts/default.pug
tags:
  - branding
hero:
  title: Folder
  lead: asdf
---
section.my-5
  .container
    .row.my-4
      .col-md-4.order-12
        code #image
      .col-md-8.order-1
        p.lead sdfg.
hr
section.my-5
  .container
    h3.display-5.text-center Rather leave it to a pro? 
    p #[a(href="/logo-design/" class="btn btn-success btn-block") groovy logo design services »]
hr

section.my-5
  .container
    h2.display-4 h2
    p asdf.