---
title: Logo
layout: /layouts/default.pug
tags:
  - branding

---
section.my-5
  .container
    .row.justify-content-md-center
      .col-md-10.col-lg-8
        h1.bigtext.display-4
          div Logo
    p
      img.img-fluid(src="/assets/img/shark-teeth-horizontal-rule.png" alt="Shark teeth horizontal rule")
    h1.bigtext.display-4.alert.alert-dark.text-light
      div Coming soon

section.my-5
  .container
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/') Homepage
        li.breadcrumb-item
          a(href='/branding/') Branding
        li.breadcrumb-item.active(aria-current='page') Logo
    hr.my-5
    h4 Subsections
      li Logo
      li Logo examples
      li Price & order
      li Tips for a great logo
    hr.my-5
    h2 Logo
    hr.my-5
    h2 Logo examples
    hr.my-5
    h2 Pricing & order info
    hr.my-5
    h2 Logo tips



section.my-5
  .container
    .row.my-4
      .col-md-4.order-12
        code #image
      .col-md-8.order-1
        p.lead sdfg.
hr
section.my-5
  .container
    h3.display-5.text-center Rather leave it to a pro? 
    p #[a(href="/logo-design/" class="btn btn-success btn-block") groovy logo design services »]
hr

section.my-5
  .container
    h2.display-4 Recognizability
    p You want something that quickly communicates the essence of what you are. Sometimes, there simply is just no need for excess emblems and fancy embellishments, simple text will do.

section.my-5
  .container
    h2.display-4 Accessibility
    p You’re logo is the one graphic that pretty much always appears on everything your brand pumps out. And chances are, you’ll need to have the thing ready to send over to the printers so they can get you next year's calendar fridgerator magnet for the car insurance ad in the yellow pages.
    p Everyone always says “oooh we want it to look different, stand out…” I say yeah, but we want to make money at the same time right? So its great to be all creative and great and different, but Creative, but not like lsd shrooms creative.


section.my-5
  .container
    h2.display-4 Different, but the same
    p You want something that quickly communicates the essence of what you are. Sometimes, there simply is just no need for excess emblems and fancy embellishments, simple text will do.
