---
title: Marketing
layout: /layouts/default.pug
hero:
  title: Marketing
  lead: The lead for marketing landing
---
include /_mixins

section
  .container
    // see /_includes/_mixins for `list_offerings`
    +list_offerings('marketing')
