---
title: Marketing
layout: /layouts/default.pug

---
include /_mixins
section.my-5
  .container
    <h1 class="bigtext display-4">
      <div>Marketing</div>
    </h1>
    img.img-fluid(src="/assets/img/shark-teeth-horizontal-rule.png" alt="Shark teeth horizontal rule")

section.my-5
  .container.border-top.py-3
    h2.text-uppercase groovy marketing goods 
      small.text-muted bacon-bringing-homing graphic powerhouses
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/advertisement/') Advertisement
        p Time proven marketer's first choice.
        p
          a.btn.btn-outline-primary(href='/advertisement/') All about print ads »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/Billboard/') Billboard
        p Nothing forces consumption of message more than a big ass billboard. You can't not see it, and designed correctly, near impossible not to provoke further thought. Welcome to the groovy ways of making billboards.
        p
          a.btn.btn-outline-primary(href='/billboard/') More info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/brochure/') Brochure
        p Arguably, by me, as one of the closest relatives to your actual offering. You can't get the girl, but her sister ain't so bad.
        p
          a.btn.btn-outline-primary(href='/brochure/') More info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/car-magnet/') Car magnet
        p Why aren't you taking advantage of a marketing platform you already own? If you're not taking advantage of the unbelievably low-cost of printing car magnets, then I don't know what cave to send the message to.
        p
          a.btn.btn-outline-primary(href='/car-magnet/') Car magnet info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/door-hanger/') Door hanger
        p So underutilized, yet oh-so-cheap to produce. GREAT door hangers are metaphysically a key for whom your prospects open some door with.
        p
          a.btn.btn-outline-primary(href='/door-hanger/') More info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/floor-decal/') Floor decal
        p One of the greatest in-store graphics. Aside from straight-up buttkissing, prospects literally get to walk all over you, while already doing so anyway. Air is free, but looking at the floor of the store comes at a cost, bub.
        p
          a.btn.btn-outline-primary(href='/floor-decal/') More info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/flyer/') Flyer
        p Flyers are everywhere, but usually you don't notice most of them because they don't work, look like shit, and were designed poorly. Read on to guarantee your next flyer succeeds like a thousand black fridays.
        p
          a.btn.btn-outline-primary(href='/flyer/') More info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/poster/') Poster
        p The art of posters is lost on most. What a tremendous marketing platform a poster can be. In store, marketing gold. To your customers, a free gift they can admire your brand for years to come.
        p
          a.btn.btn-outline-primary(href='/poster/') More info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/rack-card/') Rack card
        p If you're business involves people 'doing something' chances are you're no dummy about the benefits of rack cards. While the printing costs aren't bad, distribution is a different beast. When ultimate performance is critical, make sure you're rack card artwork is up to the task.
        p
          a.btn.btn-outline-primary(href='/rack-card/') More info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/sticker/') Sticker
        p Sticker life, or anti-sticker life should be on the back window of my car. Except I don't drive with no stickers because I make so many of them. But I'm the exception not the rule. Everyone and their grandmammy loves stickers. So trust me on this sticker advice, kid.
        p
          a.btn.btn-outline-primary(href='/sticker/') More info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/window-cling/') Window cling
        p And my most favorite files to create, yard signs. Why? For some reason, customers seem to take my advice and go with my first drafts. They reorder because they work so good.
        p
          a.btn.btn-outline-primary(href='/window-cling/') More info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/yard-sign/') Yard sign
        p And my most favorite files to create, yard signs. Why? For some reason, customers seem to take my advice and go with my first drafts. They reorder because they work so good.
        p
          a.btn.btn-outline-primary(href='/yard-sign/') More info »

section.my-5
  .container.border-top.py-3
    h2.text-uppercase groovy specialties 
      small.text-muted industry-specific special treatment
    .row.py-3
      .col-md-6.border.py-2
        h3
          div
            a(href='/realtor/') Realtor sign suite
        p The famous groovy Real Estate Sign design kit. Custom signs for your real estate selling needs.
        p
          a.btn.btn-outline-primary(href='/realtor/') Realtor sign package info »
      .col-md-6.border.py-2
        h3
          div
            a(href='/restaurant/') Restaurant menu &amp; fries
        p The food is great, but the menu was made in dos on a dot matrix. Oh you can still read the actual printer ink if not for that spagetti blob. Don't fuck up dinner before you even cook it, make sure your restaurant menus water mouthes.
        p Upgrade to the Chef's special, and we'll do you're whole freakin' brand.
        p
          a.btn.btn-outline-primary(href='/restaurant/') Restaurant package info »
      .col-md-6.border.py-2
        h3 Is that with my veterans discount?
        p Groovy salutes veterans. If you get a veterans discount when you go eat or shop, you also take 10% off my design services.
      .col-md-6.border.py-2.bg-dark.text-light
        <h3 class="bigtext display-4">
          <div>club xyz</div>
        </h3>
        p If your business demands full-time attention, and for whatever reasons I'm your guy, consider my membership rates which entitles you to anytime brand consulting &amp; support, brand collateral maintenance, deep discount prices and more.
        p
          a.btn.btn-outline-primary(href='/clubxyz/') clubxyz info »
