---
title: "Specialty"
layout: /layouts/default.pug
hero:
  title: "Specialty"
  lead: "Specialty graphic design services"
---
include /_mixins

section
  .container
    // see /_includes/_mixins for `list_offerings`
    +list_offerings('specialty')
