---
title: "Web & Social"
layout: /layouts/default.pug
---
include /_mixins
section.my-5
  .container
    <h1 class="bigtext display-4">
      <div>Web &amp; Social</div>
    </h1>
    img.img-fluid(src="/assets/img/shark-teeth-horizontal-rule.png" alt="Shark teeth horizontal rule")

section.my-5
  .container.border-top.py-3
    h2.text-uppercase Website graphics 
      small.text-muted For making n keeping prospects
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/website/') Website
        p If you have no brand or your brand sucks, I probably don't need to tell you how critical your brand's identity is. But I will anyways because thats my job. Behold the secrets of (re)establishing your brand as a loving customer's bodypart.
        p
          a.btn.btn-outline-primary(href='/website/') Website design info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/landing-page/') Landing page
        p The bleeding heart of every business's brand, almost literally. Without a logo, it can be pretty tough to communicate who you are or what you offer. Don't worry, groovy's got your back. Here's the gospel on your logo.
        p
          a.btn.btn-outline-primary(href='/landing-page/') Effective landing pages »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/web-banner/') Web banner
        p You've heard them old first impressions sayings, well thems all true. Don't blow it with a crap business card. You don't have to (unless you want to...) have the greatest most amazingist business card on earth, but it should favor the person not laughing at you and throwing it away immediately. Here's what you need to know.
        p
          a.btn.btn-outline-primary(href='/web-banner/') Making great web banners »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/image-optimize/') Image optimize
        p You've heard them old first impressions sayings, well thems all true. Don't blow it with a crap business card. You don't have to (unless you want to...) have the greatest most amazingist business card on earth, but it should favor the person not laughing at you and throwing it away immediately. Here's what you need to know.
        p
          a.btn.btn-outline-primary(href='/image-optimize/') Optimizing your images »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/qr-code/') QR code
        p You've heard them old first impressions sayings, well thems all true. Don't blow it with a crap business card. You don't have to (unless you want to...) have the greatest most amazingist business card on earth, but it should favor the person not laughing at you and throwing it away immediately. Here's what you need to know.
        p
          a.btn.btn-outline-primary(href='/qr-code/') Learn about QR codes »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/favicon/') Favicon
        p You've heard them old first impressions sayings, well thems all true. Don't blow it with a crap business card. You don't have to (unless you want to...) have the greatest most amazingist business card on earth, but it should favor the person not laughing at you and throwing it away immediately. Here's what you need to know.
        p
          a.btn.btn-outline-primary(href='/favicon/') Learn about favicons »

section.my-5
  .container.border-top.py-3
    h2.text-uppercase Social media 
      small.text-muted  please god don't skimp
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/profile-graphics/') Profile graphics
        p If you have no brand or your brand sucks, I probably don't need to tell you how critical your brand's identity is. But I will anyways because thats my job. Behold the secrets of (re)establishing your brand as a loving customer's bodypart.
        p
          a.btn.btn-outline-primary(href='/profile-graphics/') More about your profile pages »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/social-media-ad/') Social media ad
        p I've built quite a few ads for the various social media sites. Most artwork however comes from repeat customers. The trends seem to show that those who do it right find excellent roi on their facebook and whatever ad campaigns. Considering your business, how compelling has your artwork been?
        p
          a.btn.btn-outline-primary(href='/social-media-ad/') Running ads on social media »
      .col-md-6.col-lg-4.border.py-2.bg-dark.text-light
        <h3 class="bigtext display-4">
          <div>Always fresh covers</div>
          <div>club xyz</div>
        </h3>
        p If your business demands full-time attention, and for whatever reasons I'm your guy, consider my membership rates which entitles you to anytime brand consulting &amp; support, brand collateral maintenance, deep discount prices and more.
        p
          a.btn.btn-danger.btn-block(href='/clubxyz/') club xyz info »

section.my-5
  .container.border-top.py-3
    h2.text-uppercase Online marketing 
      small.text-muted by popular demand
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/ebay/') ebay page design
        p Graphics packages for your ebay stores n products.
        p
          button.btn.btn-primary(type='button', disabled='') Coming soon
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/craigslist/') Craigslist ad design
        p Seen quite a few businesses making money using craigslist, even with their shitty ads. Imagine what a professionally-designed craigslist ad would do against the lousy one.
        p
          button.btn.btn-primary(type='button', disabled='') Coming soon
