---
layout: /layouts/default.pug
title: "Web & Social Graphic Design"
hero:
  title: "Web & Social Graphic Design"
  lead: "Lorem ipsum dolor sit amet consectetur adipisicing"
---
include /_mixins

section.my-5
  +container
    h2.display-4 heading
