---
title: "Web & Social"
layout: /layouts/default.pug
---
include /_mixins
section.my-5
  .container
    <h1 class="bigtext display-4">
      <div>Web &amp; Social</div>
    </h1>
    img.img-fluid(src="/assets/img/groovyxyz-cross-platform-website-design.png" alt="Cross-platform website design")

section.my-5
  .container.border-top.py-3
    h2.text-uppercase Website graphics 
      small.text-muted For making n keeping prospects
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/website/') Website
        p A great website is now expected from your customers. Website lacking, people go away. A groovy specialty, our website design packages will engage, retain and sell.
        p
          a.btn.btn-outline-primary(href='/website/') Website design info »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/landing-page/') Landing page
        p Critical to successful web selling, awesome landing page design begins here.
        p
          a.btn.btn-outline-primary(href='/landing-page/') Effective landing pages »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/web-banner/') Web banner
        p Web banner ads must often meet specific requirements when compared to traditional print ads.
        p
          a.btn.btn-outline-primary(href='/web-banner/') Making great web banners »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/image-optimize/') Image optimize
        p If you're still bothering with awful images, change your fate while you still can.
        p
          a.btn.btn-outline-primary(href='/image-optimize/') Optimizing your images »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/qr-code/') QR code
        p QR code info coming soon.
        p
          a.btn.btn-outline-primary(href='/qr-code/') Learn about QR codes »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/favicon/') Favicon
        p Favicon info coming soon.
        p
          a.btn.btn-outline-primary(href='/favicon/') Learn about favicons »

section.my-5
  .container.border-top.py-3
    h2.text-uppercase Social media 
      small.text-muted  please god don't skimp
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/profile-graphics/') Profile graphics
        p Social media profile graphics coming soon.
        p
          a.btn.btn-outline-primary(href='/profile-graphics/') More about your profile pages »
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/social-media-ad/') Social media ad
        p I've built quite a few ads for the various social media sites. Most artwork however comes from repeat customers. The trends seem to show that those who do it right find excellent roi on their facebook and whatever ad campaigns. Considering your business, how compelling has your artwork been?
        p
          a.btn.btn-outline-primary(href='/social-media-ad/') Running ads on social media »
      .col-md-6.col-lg-4.border.py-2.bg-dark.text-light
        <h3 class="bigtext display-4">
          <div>Always fresh covers</div>
          <div>club xyz</div>
        </h3>
        p If your business demands full-time attention, and for whatever reasons I'm your guy, consider my membership rates which entitles you to anytime brand consulting &amp; support, brand collateral maintenance, deep discount prices and more.
        p
          a.btn.btn-danger.btn-block(href='/clubxyz/') club xyz info »

section.my-5
  .container.border-top.py-3
    h2.text-uppercase Online marketing 
      small.text-muted by popular demand
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/ebay/') ebay page design
        p Graphics packages for your ebay stores n products.
        p
          button.btn.btn-primary(type='button', disabled='') Coming soon
      .col-md-6.col-lg-4.border.py-2
        h3
          div
            a(href='/craigslist/') Craigslist ad design
        p Seen quite a few businesses making money using craigslist, even with their shitty ads. Imagine what a professionally-designed craigslist ad would do against the lousy one.
        p
          button.btn.btn-primary(type='button', disabled='') Coming soon
