---
title: "Web & Social"
layout: /layouts/default.pug
---
include /_mixins
section.my-5
  .container
    <h1 class="bigtext display-4">
      <div>Web &amp; Social</div>
    </h1>

section.my-5
  .container.border-top.py-3
    h2.text-uppercase Website graphics 
      small.text-muted For making n keeping prospects
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3 Website
        p If you have no brand or your brand sucks, I probably don't need to tell you how critical your brand's identity is. But I will anyways because thats my job. Behold the secrets of (re)establishing your brand as a loving customer's bodypart.
        a.btn.btn-outline-primary(href='#') More info »
      .col-md-6.col-lg-4.border.py-2
        h3 Landing page
        p The bleeding heart of every business's brand, almost literally. Without a logo, it can be pretty tough to communicate who you are or what you offer. Don't worry, groovy's got your back. Here's the gospel on your logo.
        a.btn.btn-outline-primary(href='#') More info »
      .col-md-6.col-lg-4.border.py-2
        h3 Web banner
        p You've heard them old first impressions sayings, well thems all true. Don't blow it with a crap business card. You don't have to (unless you want to...) have the greatest most amazingist business card on earth, but it should favor the person not laughing at you and throwing it away immediately. Here's what you need to know.
        a.btn.btn-outline-primary(href='#') More info »
      .col-md-6.col-lg-4.border.py-2
        h3 Image optimize
        p You've heard them old first impressions sayings, well thems all true. Don't blow it with a crap business card. You don't have to (unless you want to...) have the greatest most amazingist business card on earth, but it should favor the person not laughing at you and throwing it away immediately. Here's what you need to know.
        a.btn.btn-outline-primary(href='#') More info »
      .col-md-6.col-lg-4.border.py-2
        h3 QR code
        p You've heard them old first impressions sayings, well thems all true. Don't blow it with a crap business card. You don't have to (unless you want to...) have the greatest most amazingist business card on earth, but it should favor the person not laughing at you and throwing it away immediately. Here's what you need to know.
        a.btn.btn-outline-primary(href='#') More info »
      .col-md-6.col-lg-4.border.py-2
        h3 Favicon
        p You've heard them old first impressions sayings, well thems all true. Don't blow it with a crap business card. You don't have to (unless you want to...) have the greatest most amazingist business card on earth, but it should favor the person not laughing at you and throwing it away immediately. Here's what you need to know.
        a.btn.btn-outline-primary(href='#') More info »

section.my-5
  .container.border-top.py-3
    h2.text-uppercase Social media 
      small.text-muted facebooks, instergrams, whatever the platform, still gotta look great
    .row.py-3
      .col-md-6.col-lg-4.border.py-2
        h3 Profile graphics
        p If you have no brand or your brand sucks, I probably don't need to tell you how critical your brand's identity is. But I will anyways because thats my job. Behold the secrets of (re)establishing your brand as a loving customer's bodypart.
        a.btn.btn-outline-primary(href='#') More info »
      .col-md-6.col-lg-4.border.py-2
        h3 Social media ad
        p I've built quite a few ads for the various social media sites. Most artwork however comes from repeat customers. The trends seem to show that those who do it right find excellent roi on their facebook and whatever ad campaigns. Considering your business, how compelling has your artwork been?
        a.btn.btn-outline-primary(href='#') More info »
